body {
  background-color: #fff;
  font-family: Lato;
  font-size: 13px;
  letter-spacing: 0.2em;
  color: var(--primary-text-color);
}

body,
p,
button,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.backdrop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(100, 194, 158, 0.8);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 350ms linear;
  transition: opacity 350ms linear;
}
.backdrop__icon {
  width: 51px;
}
.backdrop__title {
  margin-top: 14px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
}

.work__bike01-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-image: url(../img/bg_2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--secondary-background-color);
}
.work__bike01-1-icon {
  width: 41px;
}

.work__bike01-2 {
  max-width: 534px;
}
.work__bike01-2__img {
  height: 200px;
  background-image: url(../img/bg_3.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--secondary-background-color);
}

.work__bike02-1 {
  max-width: 534px;
}
.work__bike02-1__img {
  height: 200px;
  background-image: url(../img/bg_4.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--secondary-background-color);
}

.work__bike02-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-image: url(../img/bg_5.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--secondary-background-color);
}
.work__bike02-2-icon {
  width: 32px;
}

.work__bike03-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-image: url(../img/bg_6.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--secondary-background-color);
}
.work__bike03-1-icon {
  width: 32px;
}

.work__bike03-2 {
  min-width: 534px;
}
.work__bike03-2__img {
  height: 200px;
  background-image: url(../img/bg_7.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--secondary-background-color);
}

.work__bike03-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-image: url(../img/bg_8.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--secondary-background-color);
}
.work__bike03-3-icon {
  width: 32px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 40px;
}

.logo {
  width: 94px;
}

.section {
  font-size: 18px;
  text-align: center;
}
.section__title {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: var(--title-color);
}
.section__subtitle {
  max-width: 1080px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 34px;
  color: var(--secondary-text-color);
}

.header {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  padding: 35px 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav__item:not(:last-child) {
  margin-right: 38px;
}
.header-nav__item:first-child::after {
  content: ".";
  margin-left: 38px;
}
.header-nav__item:last-child::before {
  content: ".";
  margin-right: 38px;
}

.header-nav__link {
  padding: 33px 0;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--primary-text-color);
  -webkit-transition: color 250ms linear;
  transition: color 250ms linear;
}
.header-nav__link:hover, .header-nav__link:focus {
  color: #64c29e;
}

.footer {
  padding: 98px;
  background-color: #f7f7f7;
}
.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .footer-address {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer .footer-address__link {
  font-size: 14px;
  font-style: italic;
  letter-spacing: 0;
  line-height: 18px;
  color: var(--secondary-color-text);
}
.footer .footer-address .title {
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
}
.footer .footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}
.footer .footer-social__link {
  width: 35px;
}
.footer .footer-creator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .footer-creator__text {
  margin-right: 10px;
  font-size: 14px;
  font-style: italic;
  letter-spacing: 0;
  line-height: 18px;
  color: var(--secondary-color-text);
}
.footer .footer-creator__logo {
  width: 55px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

:root {
  --primary-text-color: #4d4959;
  --secondary-text-color: #848789;
  --title-color: #353738;
  --primary-button-color: #64c29e;
  --secondary-button-color: #282f35;
  --primary-background-color: #222429;
  --secondary-background-color: #282f35;
}

.hero {
  width: 100%;
  height: 800px;
  background-image: url(../img/bg_1.png);
  background-color: var(--primary-background-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.about {
  padding: 117px 0;
  background-color: #f7f7f7;
}
.about .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about__icon {
  width: 52px;
}
.about__title {
  margin-top: 34px;
}
.about__subtitle {
  margin-top: 35px;
}

.work__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 600px;
}
.work__info {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px 68px;
  background-color: #fff;
  text-align: left;
}
.work__title {
  margin-top: 30px;
}
.work__subtitle {
  margin-top: 25px;
  font-size: 16px;
  line-height: 30px;
}
.work__subtitle::after {
  content: "";
  display: block;
  margin: 0 auto;
  margin-top: 43px;
  width: 50px;
  height: 1px;
  background-color: #d7d7d7;
}
.work__rhombus {
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.twitter {
  padding: 124px 0;
  background: #f7f7f7;
}
.twitter .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.twitter__icon {
  width: 32px;
}
.twitter__title {
  margin-top: 37px;
  text-transform: none;
  letter-spacing: 0.1em;
}
.twitter__timing {
  font-weight: 300;
  color: var(--secondary-text-color);
}
.twitter__subtitle {
  margin-top: 26px;
  font-size: 24px;
  font-style: italic;
}
.twitter__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  margin-top: 100px;
}

.twitter__link {
  display: inline-block;
  width: 11px;
  height: 11px;
  border: 1px solid #c9c9c9;
  border-radius: 50%;
  -webkit-transition: border 250ms linear, background-color 250ms linear;
  transition: border 250ms linear, background-color 250ms linear;
}
.twitter__link.twitter__link--active {
  border: 1px solid #a9afb3;
  background-color: #a9afb3;
}
.twitter__link:hover, .twitter__link:focus {
  border: 1px solid #64c29e;
  background-color: #64c29e;
}

.shop {
  background-color: var(--secondary-background-color);
}
.shop .shop__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.shop .shop__item:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.shop .shop__set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 533px;
}
.shop .shop__link {
  position: relative;
}
.shop .shop__link:hover .backdrop {
  opacity: 1;
  pointer-events: all;
}
.shop .shop__card {
  background-color: var(--secondary-background-color);
}
.shop .shop-discover {
  padding: 75px 0;
}
.shop .shop-discover__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 300px;
  height: 50px;
  border: 1px solid #94979a;
  -webkit-transition: border 250ms linear, color 250ms linear;
  transition: border 250ms linear, color 250ms linear;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}
.shop .shop-discover__link:hover, .shop .shop-discover__link:focus {
  border: 1px solid #64c29e;
  color: #64c29e;
}

.mailing {
  padding: 110px 0;
}
.mailing .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mailing__subtitle {
  margin-top: 38px;
  font-size: 24px;
  font-style: italic;
}
.mailing__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
}
.mailing_input {
  width: 400px;
  height: 69px;
  border: 1px solid #d3d7d9;
  outline: none;
  padding: 28px;
  margin-right: 8px;
}
.mailing_input::-webkit-input-placeholder {
  font-family: Lato;
  font-size: 20px;
  font-style: italic;
  color: #cdcdcd;
}
.mailing_input::-moz-placeholder {
  font-family: Lato;
  font-size: 20px;
  font-style: italic;
  color: #cdcdcd;
}
.mailing_input:-ms-input-placeholder {
  font-family: Lato;
  font-size: 20px;
  font-style: italic;
  color: #cdcdcd;
}
.mailing_input::-ms-input-placeholder {
  font-family: Lato;
  font-size: 20px;
  font-style: italic;
  color: #cdcdcd;
}
.mailing_input::placeholder {
  font-family: Lato;
  font-size: 20px;
  font-style: italic;
  color: #cdcdcd;
}
.mailing .mailing__button {
  width: 126px;
  height: 69px;
  border: 0;
  background-color: var(--primary-button-color);
  -webkit-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
  font-family: Lato;
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
}
.mailing .mailing__button:hover, .mailing .mailing__button:focus {
  background-color: var(--secondary-button-color);
}/*# sourceMappingURL=main.css.map */