.backdrop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(100, 194, 158, 0.8);
  opacity: 0;
  pointer-events: none;
  transition: opacity 350ms linear;

  &__icon {
    width: 51px;
  }

  &__title {
    margin-top: 14px;

    font-size: 14px;
    font-weight: 700;
    color: #fff;
  }
}