:root {
  --primary-text-color: #4d4959;
  --secondary-text-color: #848789;
  --title-color: #353738;
  --primary-button-color: #64c29e;
  --secondary-button-color: #282f35;
  --primary-background-color: #222429;
  --secondary-background-color: #282f35;
}